<div class="row" id="list-contact">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>Lista de contactos </h1>
            </div>
        </div>
        <ng-container *ngIf="listContacts.length > 0">
            <div class="row"> 
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let contact of listContacts; let index = index">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">{{contact.surname + ", " + contact.name + "(" + contact.sex + ")"}}</h4>
                            <p class="card-text">{{contact.description}}</p>
                        </div>
                        <div class="car-footer">
                            <a class="btn btn-block btn-primary text-light col-12" data-toggle="modal" [attr.data-target]="'#modal_'+index" role="button">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        
        <ng-container *ngIf="listContacts.length === 0">
            <div class="row">
                <div class="col-12">
                    <p>No hay contactos disponibles</p>
                </div>
            </div>
        </ng-container> 
    </div>
</div>